<%- include('../partials/header') %>
    <div class='main-container search-container'>
        
        <h3 id='sub-title'>I want to</h3>

        <form action="">
            <select name="action" id="action-dropdown">
                <option disabled selected value=""></option>
                <% actions.forEach(action => { %>
                    <option value=<%= `${action}` %>><%= action %></option>
                <% }) %> 
            </select>

            <h3 id='sub-title'>a(n)</h3>

            <select name="component" id="component-dropdown">
                <option disabled selected value=""></option>
                <% components.forEach(component => { %>
                    <option value=<%= `${component}` %>><%= component %></option>
                <% }) %> 
            </select>
            <br>
            <button class='main-btn go-button' type="submit">Go</button>
        </form>
    </div>
    <% if (user.role === 'admin') { %>
        <div id='add-guide-container' class=''>
                <a href="/guides/new" class='main-btn add-button'>+</a>
        </div>
    <% } %> 

<%- include('../partials/footer') %>