<%- include('../partials/header') %>
<h3 id="library-title"><%=title%> (in recommended order)</h3>
    <ul class="library-list">
        <% guides.forEach(function(el){ %>
            <br><br>
            <li class='library-items'>
                <a href="/guides/<%=el.slug%>"><%=el.title%></a>
                <% if(user.role === 'admin') {%> 
                <button><a href="/guides/<%=el._id%>/edit">Edit</a></button>
                <% }%> 
            </li>
        <% }) %>
    </ul>
<%- include('../partials/footer') %>