    <%- include('../partials/header') %>
    <h3 id="back-btn"><a href="/guides">&lt</a></h3><h3 id="guide-title"><%= guide[0].title %></h3>
    <% guide[0].steps.forEach(function(el){ %>
        <div class="card-container">
            <div class="card" style="width: 90%;">
                <div class="card-body">
                    <h5 class="card-title"><%= el.title %></h5>
                    <p class="card-text"><%= el.description %></p>
                    <% if (user.role === 'admin') { %>
                        <div class="card-buttons">
                            <form action="/guides/editStep" method="GET">
                                <input hidden type="text" name="guideId" value="<%=guide[0]._id%>">
                                <input hidden type="text" name="stepId" value="<%=el._id%>">
                                <button class="btn secondary-btn" type="submit">Edit</button>
                            </form>
                            <form action="/guides/<%=guide[0]._id%>/<%=el._id%>?_method=DELETE" method="GET">
                                <button class="btn secondary-btn" type="submit">Delete</button>
                            </form>
                        </div>
                    <% } %>
                </div>
                <img hidden src="..." class="card-img-top" alt="...">
                <pre><code class="language-javascript"><%= el.code_block %></code></pre>
            </div>
        </div>
    <% }) %> 
    <% if (user.role === 'admin') { %>
        <div id='add-step-container' class=''>
            <button id='add-step-btn' class='main-btn add-button'>+</button>
        </div>
        <div hidden id="step-form-container" class="main-container">
            <form action="/guides/<%=guide[0]._id%>/steps" method="POST">
                <div class='step-input-container'>
                    <label for="title">Title</label><br>
                    <input class='step-input' type="text" name="title"><br><br>
                    <label for="description">Description</label><br>
                    <textarea class='step-input' name="description" cols="25" rows="10"></textarea><br><br>
                    <label for="image">Image URL</label><br>
                    <input class='step-input' type="text" name="image"><br><br>
                    <label for="code_block">Code</label><br>
                    <textarea class='step-input' name="code_block" cols="25" rows="10"></textarea><br><br>
                </div>
                <div class='step-button-container'>
                    <button class="secondary-btn" type="submit">Create</button>
                </div>
            </form>
        </div>
    <% } %>
    <script src="/javascripts/add-step-function.js"></script>
    <%- include('../partials/footer') %>